/* Global */
*{
    margin: 0;
    padding: 0;
}

p{
    margin: 1em 0;
}

h1{
    margin: 20px 0;
}

h2{
    margin: 20px 0;
}

h3{
    margin: 20px 0;
}

h4{
    margin: 20px 0;
}

h5{
    margin: 10px 0;
}

ul{
    list-style: none;
}

ul.ul-indent, ol.ul-indent{
    margin-left: 40px;
    margin-bottom: 40px;
}

ul.ul-indent li{
    margin-bottom: 10px;
    font-weight: 600;
}

li{
    color: #57D175;
}

a{
    color: #57D175;
}

/*- - - - read more - - - - */

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}

body {
    font: 15px/1.5 Sans-Serif;
    color: #575B5A;
    padding: 0;
    margin: 0;
    background-color: #fff;
}

header .container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.ta:hover{
    color: mediumpurple;
}

.container{
    width: 80%;
    margin: auto;
}

.indent{
    padding-left: 20px;
    min-width:280px
}

.bold{
    font-weight: 600;
}

#page-top{
    background: #57D175;
    width: 100%;
    color:#fff;
    padding-top:60px;
    padding-bottom: 10px;
}


/* Header */
header{
    background: #57D175;
    display:flex;
    border-bottom: 1px solid #fff;
    width:100%;
    position: fixed;
    top: 0;
}

#branding{
    width:100%;
}

nav{
    text-align: right
    flex:1;
}

nav ul li{
    display: inline;
    padding:10px;
}

nav .main-nav li a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

nav .span-label{
    display: none;
}

#headlogo{
    flex:1;
}

#headlogo img{
    width: 100%;
    max-width:250px;
}

/*Mobile Navigation*/
/*Version 1*/
#mobile-nav{
    position:absolute;
    color: #fff;
    display: flex;
}
/*End Version 1*/

/*Sliding Sidebar Styling*/



#mobile-menu{
    position: absolute;
    left:-200px;
}

#m-nav-links li a{
    list-style: none;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

#toggle-box{
  cursor:pointer;
}

#toggle-box span{
  display:block;
  width:25px;
  height:5px;
  background:#fff;
  margin-bottom:3px;
  
}

#toggle{
  display:none;
}

#side-nav{
    background:#343436;
    position:fixed;
    top:0px;
    width:200px;
    height:100%;
    overflow: hidden;
    display: none;
    z-index: 1;
    
}

#side-nav li{
    text-decoration:none;
    color:rgba(230, 230, 230, 0.9);
    list-style:none;
    padding:15px 10px;
    border-bottom:1px solid rgba(100,100,100,0.3);
    display: block;
    width:100%;
}

#toggle:checked + #side-nav{
 left:0px;
}
/*End Sliding Sidebar Styling*/



/* Showcase */
.showcase{
    font-family: Geneva, Tahoma, Sans-Serif;
    height:100vh;
    padding-bottom: 0;
    background: #57D175;
    overflow: hidden;
    display: flex;
    
}

.showcase .container{
    margin: auto;
    padding:20px;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    color:#fff;
    margin-bottom: 0px;
}

.sc-left{
    flex: 1;
}

.sc-left img{
    width: 400px;
    margin-bottom: -20px;

}

.sc-right{
    text-transform: uppercase;
    line-height: 1;
    flex: 1;
}

.sc-right h3{
font-size: 80px;
padding-bottom: 0px;
margin: 0px;
}

.sc-right p{
    font-size: 16px;
}

.sc-right a{
    color: #fff;
    text-decoration: none;
}

/*#arrows{
    padding-left: 20px;
    font-size: 60px;
    font-weight: 600;
    line-height: normal;
} */


/* Boxes */
.boxes{
    display: flex;
    justify-content: space-between;
}

.box{
    margin-top:10px;
    padding:5px;
    box-sizing:border-box;
    background:#ccc;
    flex-basis:32%;   
}

/* Pricing */
#package-layout{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.package{
    margin-bottom: 10px;
    background: #F0F0F0;
    flex-basis: 24%;
    min-width: 300px;
}

.p-price{
    background: #57D175;
    padding: 10px;
    
    text-align: center;
    color: #fff;
}

.p-price h3{
    font-size: 40px;
    line-height: 0;
    padding: 0;
    margin: 0;
}

.p-price h4{
    font-size: 20px;
    line-height: 0;
    margin-bottom: 20px;
}

.p-price p{
    font-size: 16px;
    line-height: 1;
    padding-top: 5px;
}

p.from{
    font-size: 14px;
    line-height: 0.5;
    padding-top: 0px;
    margin-top: 0;
}

.pound{
    font-size: 20px;
    vertical-align: 14px;
    
}

.p-details{
    padding: 0 10px 0 10px;
    font-size: 14px;
    color: #575B5A;
}

.p-details p{
    font-size: 14px;
}

.price-boxes{
    display: flex;
    flex-direction: row;
    background: #000;
}

.price-box{
    background: #ccc;
    display: flex;
}

.t-container{
    display: flex;
    flex-wrap: wrap;
}

.t-container h3{
    font-size: 14px;
}

.t-container td{
    font-size: 12px;
}

/* Testimonials Front */

.testimonials{
    display: flex;
    width:100%;
    flex-wrap: wrap;
    background: #f5f5f5;
}

.testimonial{
    flex:1
}
.testimonial img{
    width:100%;
    max-width: 700px;
}

/* SEO Guides */

#guides-banner{
background:background url(https://i.imgur.com/PaZePOI.png)repeat;
height:100vh;
width:100%;
display:flex;
justify-content: center;
align-items: center;
}

#guides-heading{
    margin: auto;
    color: #FFF;
    font-size: 50px;
    line-height: 1;
}

.cta-box{
    background: background url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIElEQVQoU2P8////fwYiACNI4cePHwkqHVWIN4iIDh4AhOhBTuvGR/4AAAAASUVORK5CYII=)repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.cta-content{
    width: 90%;
    text-align: center
}

.cta-content h4{
    color: #01C4FF;
    font-size: 40px
}

.cta-content h5{
    color: #aaa;
    font-size: 20px;
    font-weight: 100;
}

/* Footer */
footer{
    background: #57D175;
    color:#fff;
    margin-top: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
}

footer p{
    margin: 0;
}

.footer{
    display:flex;
    width: 90%;
    justify-content: center;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap
}

.footer-links{
   width:280px;
    margin-bottom: 20px;
}

.f-icon{
    font-size: 20px;
}

/* Media Queries */
@media only screen and (min-width: 1170px) { 

.side-button{
    width: 81px;
    height: 218px;
    background-image:url(https://smartsprout.co.uk/free-consultation-button-contrast.png);
    background-repeat: no-repeat;
    position: fixed;
    margin-top: 140px;
    margin-left: 0;
    z-index: 1000;
}

#free-consultation{ background-position: -30px 0; }
#free-consultation:hover{ background-position: 0 0; }
}

@media only screen and (max-width: 1079px) {
    
    .showcase .container{
    margin: auto;
    align-items: top;
}
    .sc-left{
        display: none;
    }
    
    .sc-right h3{
        font-size: 90px;
        line-height: 1;
        
    }
    
}

@media only screen and (max-width: 599px) {
        
       
    .sc-right h3{
        font-size: 60px;        
    }
    
    nav .main-nav li{
        display: none;
    }
    
    nav .span-label{
        display: block;
        width: 25px;
        margin: 10px
    }
    
    #side-nav{
        display: block;
    }
    
    
}

@media only screen and (max-width: 409px) {
        
    .sc-right h3{
        font-size: 40px;        
    }
    
    #branding .container{
        display:flex;
        flex-wrap: wrap;
        justify-content: center
    }
    
    
}