body {
    font: 15px/1.5 Sans-Serif;
    color: #575B5A;
    padding: 0;
    margin: 0;
    background-color: #fff;
}

/* Global */
header .container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.ta:hover{
    color: mediumpurple;
}

.container{
    width: 80%;
    margin: auto;
}

.indent{
    padding-left: 20px;
    min-width:280px
}

#page-top{
    background: #57D175;
    width: 100%;
    color:#fff;
    padding-top:60px;
    padding-bottom: 10px;
}


/* Header */
header{
    background: #57D175;
    display:flex;
    border-bottom: 1px solid #fff;
    width:100%;
    position: fixed;
    top: 0;
}

#branding{
    width:100%;
}

nav{
    text-align: right
    flex:1;
}

nav ul li{
    display: inline;
    padding:10px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

#headlogo{
    flex:1;
}

#headlogo img{
    width: 100%;
    max-width:250px;
    min-width: 180px;

}

/* Showcase */
.showcase{
    font-family: Geneva, Tahoma, Sans-Serif;
    height:100vh;
    padding-bottom: 0;
    background: #57D175;
    overflow: hidden;
    display: flex;
    
}

.showcase .container{
    margin: auto;
    padding:20px;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    color:#fff;
    margin-bottom: 0px;
}

.sc-left{
    flex: 1;
}

.sc-left img{
    width: 400px;
    margin-bottom: -20px;

}

.sc-right{
    text-transform: uppercase;
    font-size: 40px;
    flex: 1;
}

.sc-right p{
    font-size: 16px;
}

#arrows{
    padding-left: 20px;
    font-size: 60px;
    font-weight: 600;
    line-height: normal;
}


/* Boxes */
.boxes{
    display: flex;
    justify-content: space-between;
}

.box{
    margin-top:10px;
    padding:5px;
    box-sizing:border-box;
    background:#ccc;
    flex-basis:32%;   
}

/* Pricing */
#package-layout{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.package{
    margin-bottom: 10px;
    background: #F0F0F0;
    flex-basis: 24%;
    min-width: 300px;
}

.p-price{
    background: #57D175;
    padding: 10px;
    
    text-align: center;
    color: #fff;
}

.p-price h3{
    font-size: 40px;
    line-height: 0;
    padding: 0;
    margin: 0;
}

.p-price h4{
    font-size: 20px;
    line-height: 0;
    margin-bottom: 20px;
}

.p-price p{
    font-size: 16px;
    line-height: 1;
    padding-top: 5px;
}

p.from{
    font-size: 14px;
    line-height: 0.5;
    padding-top: 0px;
    margin-top: 0;
}

.pound{
    font-size: 20px;
    vertical-align: 14px;
    
}

.p-details{
    padding: 0 10px 0 10px;
    font-size: 14px;
    color: #575B5A;
}

.p-details p{
    font-size: 14px;
}

.price-boxes{
    display: flex;
    flex-direction: row;
    background: #000;
}

.price-box{
    background: #ccc;
    display: flex;
}

.t-container{
    display: flex;
    flex-wrap: wrap;
}

.t-container h3{
    font-size: 14px;
}

.t-container td{
    font-size: 12px;
}

/* Testimonials Front */

.testimonials{
    display: flex;
    width:100%;
    flex-wrap: wrap
}

.testimonial{
    
    flex:1
}
.testimonial img{
    width:100%;
    min-width: 600px;
    max-width: 700px;
}   

/* Footer */
footer{
    background: #57D175;
    color:#fff;
    margin-top: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
}

footer p{
    margin: 0;
}

.footer{
    display:flex;
    width: 90%;
    justify-content: center;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap
}

.footer-links{
   width:280px;
    margin-bottom: 20px;
}

.f-icon{
    font-size: 20px;
}

/* Media Queries */
@media only screen and (min-width: 1170px) { .side-button{
    width: 81px;
    height: 218px;
    background-image:url(https://smartsprout.co.uk/free-consultation-button-contrast.png);
    background-repeat: no-repeat;
    position: fixed;
    margin-top: 140px;
    margin-left: 0;
    z-index: 1000;
}

#free-consultation{ background-position: -30px 0; }
#free-consultation:hover{ background-position: 0 0; }
}