
.body{
    margin: 0;
    padding: 0;
}

section.container{
    margin: auto;
    width:90%;
    font-family: sans-serif;
}

#package-layout{
    display:flex;
    justify-content: space-between;
}

.package{
    background: #F0F0F0;
    flex-basis: 24%
}

.p-price{
    background: #57D175;
    padding: 10;
    text-align: center;
    color: #fff;
}

.p-details{
    padding: 0 10 0 10;
    font-size: 14px;
    color: #575B5A
}